/* 定义一些初始化、公用样式 */
* {
  padding: 0;
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", "Arial", "sans-serif";
}
body {
  font-size: 14px;
  font-family: Source Han Sans CN;
  /* scrollbar-width: none; */
  /* -ms-overflow-scrollbar: none; */
}
body::-webkit-scrollbar {
  display: none;
}
body,
a {
  color: #303133;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
li {
  list-style: none;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-list {
  -webkit-flex: 1;
  flex: 1;
}

.flex-bc {
  -webkit-align-items: baseline;
  align-items: flex-end;
}

.flex-hc,
.h-ct {
  -webkit-align-items: center;
  align-items: center;
}

.flex-vc,
.v-ct {
  -webkit-justify-content: center;
  justify-content: center;
}
.red {
  color: red;
}
.green {
  color: #06631e;
  cursor: pointer;
}
.blue {
  color: #409eff;
}
.fz12 {
  font-size: 12px;
}
.fz10 {
  font-size: 10px;
}
.fz13 {
  font-size: 13px;
}
.fz14 {
  font-size: 14px;
}
.fz26 {
  font-size: 26px;
}
.fz25 {
  font-size: 25px;
}
.mt10 {
  margin-top: 10px;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.justify-content-end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.clear {
  clear: both;
}
.line1 {
  width: 100%;
  height: 0;
  border-top: 1px solid var(--el-border-color);
}
.active_title {
  color: #1989fa !important;
}
.active_nav {
  color: #fff !important;
}
